// mobile
$mob-width: 576px;

// tablet
$tab-width: 768px;

// laptop
$lap-width: 992px;

// Large tablets and desktops
$des-width: 1200px;

@mixin sm {
    @media (min-width: #{$mob-width}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{$tab-width}) {
        @content;
    }
}
@mixin lg {
    @media (min-width: #{$lap-width}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{$des-width}) {
        @content;
    }
}