.footer {
    padding-top: 2rem;

    &__logo {
        margin: 0 auto;
        padding-top: 5rem;
    }

    &__menu {
        ul {
            margin: 0;
            padding: 0;
            li {
                padding-bottom: .5rem;
                text-align: center;
                a {
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 4px;
                }
            }
        }
    }

    &__social {
        p {
            color: $white;
            margin: 0;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            margin-bottom: .5rem;
            text-align: center;
        }
        p:last-child {
            margin-top: 1.5rem;
        }
    }

    &__promo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        img {
            object-fit: contain;
            object-position: top;
        }
        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            li {
                padding-bottom: .4rem;
                a {
                    i {
                        color: white;
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    &__legal {
        width: 100%;
        text-align: center;
        padding: 1rem 1rem 2rem 1rem;
        color: $white;
    }

    @include md {
        padding-top: 3rem;
        &__logo {
            padding-top: 0;
            margin: unset;
        }
        &__menu {
            padding-left: 2rem;
            ul {
                li {
                    text-align: left;
                }
            }
        }
        &__social {
            p {
                text-align: left;
            }
        }
    }
}

.prefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5rem 1rem;
    h3 {
        position: relative;
        transform: rotate(-90deg);
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        &::after {
            background: #ed7480;
            width: 50px;
            height: 5px;
            position: absolute;
            bottom: -1rem;
            left: 0rem;
            display: block;
            content: '';
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: end;

        p {
            letter-spacing: unset;
        }

        .gform_wrapper {
            form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: end;
            }
        }

        .gform_footer {
            input {
                background: $light-grey !important;
            }
        }

        @include md {
            flex-direction: row;

            .ginput_container {
                background: $light-grey !important;
                margin-right: 1.5rem !important;
                margin-left: 1rem !important;
            }
        }
    }
}