.orbital {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &__slider {
        max-width: 100%;
        margin-top: 5rem;
    }

    &__slidelink {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        display: flex;
        padding-top: 3.5rem;
        color: $slate;
        text-decoration: none;
        border-bottom: 1px solid $slate;
        transition: .25s ease-in-out;
        &:hover {
            border-bottom: 2px solid $slate;
        }
    }

    &__slide {
        max-width: 100%;
        height: auto;
        div {
            position: relative;
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                max-height: 500px;
            }
            h2 {
                // writing-mode: vertical-rl;
                transform: rotate(-90deg);
                margin: 0;
                position: absolute;
                left: 0;
                color: #fff;
                padding: 1rem;
                background: rgba(0,0,0,.6);
                font-size: 3rem;
                transform-origin: left top;
            }
        }
        h4 {
            font-size: 2rem;
        }
        h4, p {
            width: 100%;
            text-align: center;
        }
        p {
            letter-spacing: unset;
        }
    }

    &__nav {
        a { 
            img {
                width: 100%;
            }
        }
        &--left {
            :first-child {
                padding-bottom: 2.5rem;
                img {
                    margin-left: -5rem;
                    margin-top: -1rem;
                }
            }
        }
        &--right {
            :last-child {
                padding-top: 2.5rem;
                img {
                    margin-left: 2.5rem;
                    margin-right: -3rem;
                }
            }
        }
    }

}