.container {
    // display: flex;
    width: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;

    &--full {
        height: 100vh;
        max-height: 100vh;
        justify-content: start;
    }
    

    &--grey {
        background: $light-grey;
    }

    &--black {
        background: $slate;
    }

    &--layertop {
        top: -3rem;
        margin-bottom: -3rem;
        @include md {
            top: -5rem;
            margin-bottom: -5rem;
        }
    }

    @include md {
        flex-direction: row;
    }

    &__inner {
        width: 100%;
        max-width: $container-inner-maxwidth;
        padding: $container-inner-pad-mob;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        &--narrow {
            max-width: calc($container-inner-maxwidth - 200px);
        }


        &--overflow {
            overflow: unset;
        }

        @include md {
            flex-direction: row;
            padding: $container-inner-pad;

        }
    }

}

.cols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 1.5rem;
    // column-gap: 2.5rem;

    &--mob-invert {
        flex-direction: column-reverse;
    }

    &--row {
        flex-direction: row;
    }

    &__col {
        width: 100%;
        &--heroleft {
            width: 85px;
        }
        &--heroright {
            // width: calc(100% - 50px);
            width: 100%;
        }
    }

    @include sm {
        &--4 {
            width: 48%;
        }
        &--heroleft {
            width: 31%;
        }
        &--heroright {
            width: 62%;
        }
    }

    @include md {
        flex-direction: row;
        &__col {
            &--2 {
                width: 48%;
            }
            &--3 {
                width: 31%;
            }
            &--4 {
                width:23%;
            }
            &--5 {
                width: 18%;
            }
            &--1of3 {
                width: 31%;
            }
            &--2of3 {
                margin-right: 2.5rem;
                width: 62%;
            }    
            &--heroleft {
                width: 31%;
            }
            &--heroright {
                width: 62%;
            }        
        }
    }
}

.pad {
    &--top {
        padding-top: 2.5rem;
    }
    &--bottom {
        padding-bottom: 2.5rem;
    }
    &--both {
        padding: 2.5rem 0 2.5rem 0;
    }
}