@font-face {
    font-family: 'bebas';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

// @font-face {
//     font-family: 'optima-bold';
//     src: url('/assets/fonts/optima_bold.woff');
// }

// @font-face {
//     font-family: 'optima-italic';
//     src: url('/assets/fonts/optima_italic.woff');
// }

// @font-face {
//     font-family: 'optima-medium';
//     src: url('/assets/fonts/optima_medium.woff');
// }

$font-regular: Helvetica, sans-serif;
$font-medium: Helvetica, sans-serif;
$font-italic: Helvetica, sans-serif;
$font-bold: Helvetica, sans-serif;

$font-body: Helvetica, sans-serif;
$font-header: 'bebas', sans-serif;