.ginput {
    &_container {
        input {
            border: 1px solid $slate !important;
            border-radius: 0 !important;
            font-family: $font-regular !important;
            text-transform: uppercase !important;
            color: $slate !important;
            font-weight: bold !important;
            letter-spacing: 2px !important;
        }
    }
}

.gform {
    &_footer {
        input {
            font-family: $font-regular !important;
            text-transform: uppercase !important;
            color: $slate !important;
            background: $white !important;
            font-weight: bold !important;
            letter-spacing: 2px !important;
            position: relative !important;
            box-shadow: none !important;
            transition: .25s ease-in-out !important;
            border: 1px solid $white !important;
            &:hover {
                border: 1px solid $slate !important;
            }
            &::after {
                position: relative;
                content: '>' !important;
                right: 0;
                top: 0;
            }
        }
    }
}